In [1]:
# Classic Imports
import pandas as pd
import re
import copy
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Getting all the Datasets
before = pd.read_csv('CSV\BeforeRedData.csv')
after = pd.read_csv('CSV\AfterRedData.csv')

In [14]:
def rangeTwo(x, y):
    Final = []
    while x < y:
        Final.append(x)
        x = x + 1
    return Final

def createList(dataset):
    reform_list = []
    for reform in dataset.index:
        place_holder_list = [0, 0, 0, 0, 0, 0, 0, 0]
        for holder in rangeTwo(0, (len(dataset.columns) - 1)):
            column_name = 'M' + str(holder)
            holder_in = dataset.loc[reform, column_name]
            if holder_in == 1:
                place_holder_list[0] = place_holder_list[0] + 1
            elif holder_in == 2:
                place_holder_list[1] = place_holder_list[1] + 1
            elif holder_in == 3:
                place_holder_list[2] = place_holder_list[2] + 1
            elif holder_in == 4:
                place_holder_list[3] = place_holder_list[3] + 1
            elif holder_in == -1:
                place_holder_list[4] = place_holder_list[4] + 1
            elif holder_in == -2:
                place_holder_list[5] = place_holder_list[5] + 1
            elif holder_in == -3:
                place_holder_list[6] = place_holder_list[6] + 1
            elif holder_in == -4:
                place_holder_list[7] = place_holder_list[7] + 1
        reform_list.append(place_holder_list)
        
    return reform_list

test_input = createList(before)
test_output = createList(after)

In [17]:
before_test = pd.DataFrame(test_input, columns=['Goal_Home', 'Yellow_Home', 'Red_Card_Home', 'Own_Home', 'Goal_Away', 'Yellow_Away', 'Red_Card_Away', 'Own_Away'])
after_test = pd.DataFrame(test_output, columns=['Goal_Home', 'Yellow_Home', 'Red_Card_Home', 'Own_Home', 'Goal_Away', 'Yellow_Away', 'Red_Card_Away', 'Own_Away'])

In [18]:
before_test

,Goal_Home,Yellow_Home,Red_Card_Home,Own_Home,Goal_Away,Yellow_Away,Red_Card_Away,Own_Away
0,2,0,1,0,1,0,0,0
1,0,0,0,0,0,1,1,0
2,1,0,0,0,0,1,1,0
3,1,0,0,0,1,0,1,0
4,0,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...
3561,0,0,0,0,1,1,1,0
3562,3,0,0,0,1,2,1,0
3563,1,0,0,0,0,0,1,0
3564,0,0,0,0,0,0,1,0
3565,0,1,0,1,0,3,1,0

In [19]:
after_test

,Goal_Home,Yellow_Home,Red_Card_Home,Own_Home,Goal_Away,Yellow_Away,Red_Card_Away,Own_Away
0,0,0,1,0,3,1,0,0
1,0,2,0,0,1,0,1,0
2,2,1,0,0,0,2,1,0
3,1,1,0,0,0,0,1,0
4,1,2,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
3561,2,0,0,0,0,2,1,0
3562,2,2,0,0,0,1,1,0
3563,1,2,0,0,0,1,1,0
3564,1,1,0,0,0,0,1,0
3565,1,0,0,0,0,0,1,0

In [23]:
x = before_test.iloc[:, range(0, 8)].values
y = after_test.iloc[:, range(0, 8)].values

In [25]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = 30)